<!DOCTYPE html>
<html lang="ko"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/layout::main(
        ~{::title},                 <!--/* title */-->
        <!--/*--------------------------*/-->
        <!--/*외부파일로 정의시 ex) link css */-->
        ~{},                        <!--/* styles */-->
        ~{},                        <!--/* scripts */-->
        <!--/*내부태그로 정의시*/-->
        ~{},                        <!--/* style */-->
        ~{},                        <!--/* script */-->
        <!--/*--------------------------*/-->
        ~{::.upperHeader},          <!--/* upperHeader */-->
        ~{::.nav},          <!--/* nav */-->
        ~{::main},                  <!--/* main */-->
        _                          <!--/* footer default*/-->
      )}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="울산 문화 정보 사이트 메인 화면 기본 문서">
  <meta name="keywords" content="울산,ulsan,information,홍보,advertisement,이벤트,event">
  <meta name="author" content="KH java 할수있조">
  <title>울산한마당 | 메인화면 | 로그인 전</title>

</head>
  <body>
    <div id="wrapper">
      <div class="upperHeader">
        <th:block th:replace="~{layout/upperHeader::upperHeaders}"></th:block>
      </div>
      <div class="nav">
        <th:block th:replace="~{layout/nav::lowerHeader}"></th:block>
      </div>

      <main id="beforeMain">

        <!--슬라이드 파트-->
        <header id="header" class="container">
          <div class="content">
            <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
              <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
              </div>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img style="width: 1100px; height: 400px; object-fit: cover;" src="http://www.kopis.or.kr/upload/pfmPoster/PF_PF197501_220902_113005.jpg" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>가을밤의 브람스</h5>
                    <p>2022.09.28</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img style="width: 1100px; height: 400px; object-fit: cover;" src="http://www.kopis.or.kr/upload/pfmPoster/PF_PF197497_220902_111848.jpg" class="" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>사랑해요 당신</h5>
                    <p>2022.10.14</p>
                  </div>
                </div>
                <div class="carousel-item">
                  <img style="width: 1100px; height: 400px; object-fit: cover;" src="http://www.kopis.or.kr/upload/pfmPoster/PF_PF198235_220916_105702.jpg" class="" alt="...">
                  <div class="carousel-caption d-none d-md-block">
                    <h5>저녁을 닮은 음악 5th stage, 볼체콰르텟</h5>
                    <p>2022.10.25 ~ 2022.10.25</p>
                  </div>
                </div>
              </div>
              <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
              </button>
              <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
              </button>
            </div>
          </div>
        </header>

          <!--메인 내용-->
          <section>
            <div class="main_container">
              <div class="sub_title_per">
                <a>공연</a>
                <a>performance</a>
              </div>
              <div class="main_slide">
                <img src="../../static/css/img/슬라이드1.jpg" alt="">
                <img src="../../static/css/img/슬라이드2.jpg" alt="">
                <img src="../../static/css/img/슬라이드3.jpg" alt="">
                <img src="../../static/css/img/슬라이드4.jpg" alt="">
                <img src="../../static/css/img/슬라이드5.jpg" alt="">
                <img src="../../static/css/img/슬라이드6.jpg" alt="">
                <!-- <img src="/img/슬라이드7.jpg" alt=""> -->
              </div>
              <div class="sub_title_exh">
                <a>전시</a>
                <a>exhibition</a>
              </div>
              <div class="main_item">
                <img src="img/슬라이드7.jpg" alt="">
                <img src="img/슬라이드8.jpg" alt="">
                <img src="img/슬라이드9.jpg" alt="">
                <img src="img/슬라이드10.gif" alt="">
                <img src="img/슬라이드11.jpg" alt="">
                <img src="img/슬라이드12.jpg" alt="">
              </div>
              <div class="main_wrap">
                <div class="main_b">
                  <div class="ad_board_tit">
                    <div>홍보게시판</div>
                    <div> advertisement</div>
                    <a href="#">+더보기</a>
                  </div>
                  <!--게시판-->
                  <!-- <div class="main_b_top">
                      <a href="" class="top_ad">홍보게시판</a>
                      <a href="" class="top_review">후기게시판</a>
                      <a href="" class="more_b">+더보기</a>

                  </div> -->
                  <table class="board_list">
                    <tbody class="list_body">
                    <tr>
                      <td class="title">
                        <a href="#">[후기][공연] 포시크루 15주년 기획공연 THE ORIGINAL</a>
                      </td>
                      <td>2022.09.24</td>
                    </tr>
                    <tr>
                      <td class="title">
                        <a href="#">[후기][전시] 땅의 아바타, 거북</a>
                      </td>
                      <td>2022.09.20</td>
                    </tr>
                    <tr>
                      <td class="title">
                        <a href="#">[후기][공연] 울산칸탄테 2022 정기연주회 한국 가곡의 밤</a>
                      </td>
                      <td>2022.09.01</td>
                    </tr>
                    <tr>
                      <td class="title">
                        <a href="#">[후기][전시] 한국 미술 100년, 세기의 명작展</a>
                      </td>
                      <td>2022.08.27</td>
                    </tr>
                    </tbody>
                  </table>

                  <div class="review_board_tit">
                    <div>후기게시판</div>
                    <div>review</div>
                    <a href="#">+더보기</a>
                  </div>
                  <!--게시판-->
                  <!-- <div class="main_b_top">
                      <a href="" class="top_ad">홍보게시판</a>
                      <a href="" class="top_review">후기게시판</a>
                      <a href="" class="more_b">+더보기</a>

                  </div> -->
                  <table class="board_list">
                    <tbody class="list_body">
                    <tr>
                      <td class="title">
                        <a href="#">[공연] 포시크루 15주년 기획공연 THE ORIGINAL</a>
                      </td>
                      <td>2022.09.24</td>
                    </tr>
                    <tr>
                      <td class="title">
                        <a href="#">[전시] 땅의 아바타, 거북</a>
                      </td>
                      <td>2022.09.20</td>
                    </tr>
                    <tr>
                      <td class="title">
                        <a href="#">[공연] 울산칸탄테 2022 정기연주회 한국 가곡의 밤</a>
                      </td>
                      <td>2022.09.01</td>
                    </tr>
                    <tr>
                      <td class="title">
                        <a href="#">[전시] 한국 미술 100년, 세기의 명작展</a>
                      </td>
                      <td>2022.08.27</td>
                    </tr>
                    </tbody>
                  </table>
                </div>

                <div class="main_m">
                  <div class="map_tit">
                    <div>지도</div>
                    <div>map</div>
                  </div>
                  <!--지도-->
                  <img src="img/map.jpg" alt="">
                </div>
              </div>

            </div>
          </section>
        </div>
      </main>


    </div>
  </body>
</html>